name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: latest #10
          run_install: |
            - recursive: true
              args: [--force, --fix-lockfile, --no-frozen-lockfile]
            - args: [--global, typescript]
        
      - name: Generate types
        run: pnpm run generate-types

      - name: Build
        run: pnpm run build
        
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          packageManager: pnpm
          secrets: |
            WAQI_TOKEN
            NWS_AGENT
            AIRNOW_KEY
        env:
          WAQI_TOKEN: ${{ secrets.WAQI_TOKEN }}
          NWS_AGENT: ${{ secrets.NWS_AGENT }}
          AIRNOW_KEY: ${{ secrets.AIRNOW_KEY }}

      - uses: actions/upload-artifact@v5
        with:
          name: build
          path: |
            ~/**/pnpm-lock.yaml
            ~/**/worker-configuration.d.ts
            
